{{define "body"}}
<body style="margin:5px" onload="init();">
<span onclick="doClick(event);">
<svg id="field" width="500" height="250" xmlns="http://www.w3.org/2000/svg"
   xmlns:osb="http://www.openswatchbook.org/uri/2009/osb"
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   version="1.1"
   inkscape:version="0.48.0 r9654"
   sodipodi:docname="whatknotghost.svg">
</svg>
</span>
<h4>click within grid to move cube</h4>
</body>
{{end}}

