{{define "body"}}
<body style="margin-left:5px; margin-top: 10px;" onload="init();" onKeydown="doKeyDown(event);" onkeyup="doKeyUp(event);">
<div onclick="doClick(event);" onkeydown="doKeyDown(event);" onkeyup="doKeyUp(event);">
<svg 
	id="gkField" 
	xmlns="http://www.w3.org/2000/svg"
	xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
	xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
	version="1.1"
	inkscape:version="0.48.2 r9819"
	sodipodi:docname="baby whatnot slice setup.svg"
	xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:cc="http://creativecommons.org/ns#"
	xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
	xmlns:svg="http://www.w3.org/2000/svg"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	x="0px"
	y="0px"
	width="600"
	height="300"
	xml:space="preserve">

<defs id="gkDefs">
</defs>

<g id="gkView">
	<g id="gkTerrainBaseLayer"/>
	<g id="gkTerrainDandelionLayer"/>
	<g id="gkTerrainObjectLayer"/>
	<g id="gkRainLayer"/>
	<g id="gkAvatarLayer"/>
</g>

</svg>
</div>

<div class="gkGameLeft">
	<h4>click within grid to move your whatknot, or use the arrow keys</h4>
	<br/>
	<select id="selectAvatar" onchange="changeAvatar();">
		<option value="" selected="selected">-- select avatar --</option>
		<option value="babyWhatKnot1">babyWhatKnot1</option>
		<option value="babyWhatKnot2">babyWhatKnot2</option>
		<option value="newbaby_01a">newbaby 01a</option>
		<option value="newbaby_01b">newbaby 01b</option>
		<option value="newbaby_01c">newbaby 01c</option>
		<option value="ribbonfeet">ribbonfeet</option>
		<option value="fern">fern</option>
		<option value="ghostie">ghostie</option>
		<option value="stumpy">stumpy</option>
		<option value="yellow_petal">yellow_petal</option>
		<option value="red_petal">red_petal</option>
		<option value="red_petal_baby">red_petal_baby</option>
		<option value="red_petal_ghost">red_petal_ghost</option>
		<option value="rocky">rocky</option>
	</select>
	&nbsp;<span id="wsConnectionStatus"></span>
	<br/>
	<span id="canPlay">can play unknown</span><br/>
	background music volume:
	<select id="volume1" onchange="volumeChange(1);">
		<option value="0.00">off</option>
		<option value="0.33" selected="selected">low</option>
		<option value="0.66">medium</option>
		<option value="0.99">high</option>
	</select>

	<br/>
	sound clip volume:
	<select id="volume2" onchange="volumeChange(2);">
		<option value="0.00">off</option>
		<option value="0.33" selected="selected">low</option>
		<option value="0.66">medium</option>
		<option value="0.99">high</option>
	</select>
	<br/>
	FX volume:
	<select id="volume3" onchange="volumeChange(3);">
		<option value="0.00">off</option>
		<option value="0.33" selected="selected">low</option>
		<option value="0.66">medium</option>
		<option value="0.99">high</option>
	</select>
	<audio id="audio1">Audio One</audio>
	<audio id="audio2">Audio Two</audio>
	<audio id="audio3">Audio Three</audio>
	<span id="scriptUse"></span>
<form onsubmit="return gkChatSubmit();">

	position <span id="posValueX"></span>, <span id="posValueY"></span>, <span id="posValueZ"></span><br/>
	zoom: <span id="zoomValue"></span><input id="zoomValueSubmitPlus" type="submit" onclick="doZoomChange(0.1);" value="+1"/>
	<input id="zoomValueSubmitMinus" type="submit" onclick="doZoomChange(-0.1);" value="-1"/>
	<br/>
Width: <input id="svgWidthInput" type="text" size="4"/>
Height: <input id="svgHeightInput" type="text" size="4"/>
<input id="svgWidthHeightSubmit" type="submit" onclick="doSvgWidthHeightChange();" value="Change SVG Size"/>
	<br/>

</form>
<span id="frameRate"></span>
</div>

<div class="gkGameRight">
	<form onsubmit="return gkChatSubmit();">
	Chat <input id="chatInput" type="text"></input>
	<input id="chatSubmit" type="submit" value="submit"/>
	<div id="chatDiv"></div>

	</form>
</div>

<div class="gkGameFooter">Gourdian Knot pre-alpha release 0.1.11 <a href="http://www.gourdianknot.com">Gourdian Knot Main Page</a></div>

</body>
{{end}}

