{{define "body"}}
<body>
<h1>Game</h1>
you are now actually in the game!<br/>
I know, it does not look like much, but it is actually running a different server process (the gameServer), the other server was the loginServer.<br/>
This is one standard fern:
<embed src="http://www.gourdianknot.com/assets/fern.svg" type="image/svg+xml" /><br/>
and here is the wee ghostie:
<embed src="http://www.gourdianknot.com/assets/ghostie.svg" type="image/svg+xml" /><br/>
and the dandelion<br/>
<embed src="http://www.gourdianknot.com/assets/dandelion.svg" type="image/svg+xml" /><br/>
now if only I could make them move :)<br/>
</body>
{{end}}

