{{define "head"}}
<head>
	<title>{{.Title}}</title>
	<meta http-equiv="content-type" 
		content="text/html;charset=utf-8" />

	<link rel="stylesheet" type="text/css" 
		href="/assets/gk/stylesheets/login/login.css" title="default"/>

	<link rel="alternate stylesheet" type="text/css" 
		href="/assets/gk/stylesheets/login/login_thin.css" title="thin"/>
	<link rel="alternate stylesheet" type="text/css" 
		href="/assets/gk/stylesheets/login/login_normal.css" title="normal"/>
	<link rel="alternate stylesheet" type="text/css" 
		href="/assets/gk/stylesheets/login/login_wide.css" title="wide"/>

	<script src="/assets/gk/javascript/dynamiclayout.js" type="text/javascript"></script>
	<script src="/assets/gk/javascript/game/gkRain.js" type="text/javascript"></script>
	<script src="/assets/gk/javascript/game/gkIso.js" type="text/javascript"></script>

	<script type="text/javascript">
		var ws
		var svgData
		var avatarIsoXYZCurrent = new GkIsoXYZDef(10, 20, 0);
		var avatarIsoXYZDestination = new GkIsoXYZDef(10, 20, 0);

		var canPlayOgg = false;
		var canPlayMp3 = false;
		var canPlayWave = false;

		function init() {
			console.log("calling init");
			if (ws != null) {
				console.log("closing extra ws")
				ws.close();
				ws = null;
			}

			ws = new WebSocket("ws://www.gourdianknot.com:14003/ws/svg");
			ws.onopen = function() { doWsOpen(); };
			ws.onmessage = function(evt) { doWsMessage(evt); };
			ws.onclose = function() { doWsOnClose(); };

			gkIsoDrawGridDiamond();
			setUpAudio();
			gkRainStart();

			setInterval(doAnimateLoop,100);
		}

		function doWsOpen() {
			console.log("doWsOpen");
		}

		function doWsMessage(e) {
			console.log("doWsMessage");

			var nlIndex1 = -1;
			var nlIndex2 = -1;

			for (i = 0;i < e.data.length;i++) {
				if (e.data[i] == '~') {
					nlIndex1 = i
					break;
				}
			}
			for (i = (nlIndex1 + 1);i < e.data.length;i++) {
				if (e.data[i] == '~') {
					nlIndex2 = i
					break;
				}
			}

			if ((nlIndex1 != -1) && (nlIndex2 != -1)) {
				command = e.data.substring(0,nlIndex1);
				console.log("command from gameServer: " + command);
				switch (command) {
				case "turnOnRainReq":
					gkRainOn();
					break;
				case "turnOffRainReq":
					gkRainOff();
					break;
				case "getSvgRes":
					var avatar
					field = document.getElementById("gkField");
					avatar = field.getElementById("avatar");
					if (avatar != null) {
						avatar.parentNode.removeChild(avatar);
					}

					jsonData = e.data.substring(nlIndex1 + 1, nlIndex2);
					svgMetaData = JSON.parse(jsonData, null);
					console.log("svgMetaData x,y: " + svgMetaData.origin_x + "," + svgMetaData.origin_y);

					svgData = e.data.substring(nlIndex2 + 1);
					var svgString = "";
					for (i = (nlIndex2 + 1);i < e.data.length;i++) {
						svgString += e.data[i];
					}

					console.log("svgString: " + svgString);

					var r1 = new DOMParser().parseFromString(svgString, 'text/xml');
					field.appendChild(document.importNode(r1.documentElement.firstChild,true));
					avatar = field.getElementById("avatar");
					avatarWinXY = avatarIsoXYZCurrent.convertToWin()
					avatar.setAttribute("transform","translate(" + avatarWinXY.x + "," + avatarWinXY.y + ")");

					break;
				default:
					console.log("did not understand command from game server " + command);
				}
			} else {
				console.log("did not understand input from game server");
			}
		}

		function doWsOnClose() {
			console.log("doWsOnClose");
		}

		function doClick(e) {
			var x, y

			x = e.pageX - GK_SVG_MARGIN_X;
			y = e.pageY - GK_SVG_MARGIN_Y;

			var winXY;

			winXY = new GkWinXYDef(x,y);
			avatarIsoXYZDestination = winXY.convertToIso(0);

			var field
			field = document.getElementById("gkField");

			var diamond
			diamond = gkIsoCreateSingleDiamond(avatarIsoXYZDestination, "#8f8fff");
			field.appendChild(diamond);

			clickSound();
		}

		function doAnimateLoop() {
	        var field;
			var avatar;
			var needMove = false;

			field = document.getElementById("gkField");
			avatar = field.getElementById("avatar");

			if (avatarIsoXYZDestination.x > avatarIsoXYZCurrent.x) {
				needMove = true;
				avatarIsoXYZCurrent.x += 5;
			}
			if (avatarIsoXYZDestination.y > (avatarIsoXYZCurrent.y + 0)) {
				needMove = true;
				avatarIsoXYZCurrent.y += 5;
			}

			if (avatarIsoXYZDestination.x < avatarIsoXYZCurrent.x) {
				needMove = true;
				avatarIsoXYZCurrent.x -= 5;
			}
			if (avatarIsoXYZDestination.y < (avatarIsoXYZCurrent.y + 0)) {
				needMove = true;
				avatarIsoXYZCurrent.y -= 5;
			}

			if (needMove) {
				avatar = field.getElementById("avatar");

				var avatarWinXY;

				avatarWinXY = avatarIsoXYZCurrent.convertToWin();
				avatar.setAttribute("transform","translate(" + avatarWinXY.x + "," + avatarWinXY.y + ")");
			}
		}

		function setUpAudio() {
			console.log("init called");
			var audio1 = document.getElementById("audio1")
			var canPlay = document.getElementById("canPlay");
			canPlay.innerHTML="can play:";
			var source = document.createElement('source');
			if (audio1.canPlayType('audio/mpeg;')) {
				canPlay.innerHTML += " mpeg";
				canPlayMp3 = true
			}
			if (audio1.canPlayType('audio/ogg;')) {
				canPlay.innerHTML += " ogg";
				canPlayOgg = true
			}
			if (audio1.canPlayType('audio/wav;')) {
				canPlay.innerHTML += " wav";
				canPlayWave = true
			}
			audio1.volume = 0.3;
			var audio2 = document.getElementById("audio2")
			audio2.volume = 0.3;

			var source = document.createElement("source");
			if (canPlayOgg) {
				source.type = "audio/ogg";
				source.src = "/assets/gk/audio/Devildance.ogg";
				audio1.appendChild(source);
				audio1.play();
				} else {
				if (canPlayMp3) {
					source.type = "audio/mpeg";
					source.src = "/assets/gk/audio/Devildance.mp3";
					audio1.appendChild(source);
					audio1.play();
				}
			}
		}

		function clickSound() {
			var audio2 = document.getElementById("audio2");

			for (i = (audio2.children.length - 1); i >= 0; i-- ) {
				audio2.removeChild(audio2.children[i]);
			}

			console.log("len: " + (audio2.children.length));

			var source = document.createElement("source");
			if (canPlayOgg) {
				source.type = "audio/ogg";
				source.src = "/assets/gk/audio/duck.ogg";
				audio2.appendChild(source);
				audio2.play();
				} else {
				if (canPlayMp3) {
					source.type = "audio/mpeg";
					source.src = "/assets/gk/audio/duck.mp3";
					audio2.appendChild(source);
					audio2.play();
				}
			}
		}

		function changeAvatar() {
			avatarName = document.getElementById("selectAvatar").value;
			console.log("avatarName: " + avatarName)
			ws.send("getSvgReq~{\"SvgName\":\"" + avatarName + "\"}~");
		}

		function volumeChange(audioSelect) {
			var volume;
			console.log("volume select: " + audioSelect);
			var audio = document.getElementById("audio" + audioSelect)

			volume = document.getElementById("volume" + audioSelect);
			console.log(volume.value);
			audio.volume = volume.value;
		}
	</script>
</head>
{{end}}
