{{define "body"}}
<body>
<h1>Login</h1>
{{template "error_list" .}}
<form action="{{.WebAddressPrefix}}/gk/loginServer" method="post">
User: <input name="userName" value="{{.UserName}}"/>{{.UserNameError}}<br/>
Password: <input type="password" name="password"/>{{.PasswordError}}<br/>
<input type="hidden" name="act" value="login"/><br/>
<input type="submit" name="login" value="Login"/>
<input type="submit" name="register" value="Register"/>
<input type="submit" name="forgot_password" value="Forgot Password"/>
</form>
</body>
{{end}}

