{{define "body"}}
<body>
<h1>Login</h1>
{{template "error_list" .}}
<form action="{{.LoginWebAddressPrefix}}/gk/loginServer" method="post">
User: <input name="userName" value="{{.UserName}}"/>{{.UserNameError}}<br/>
Password: <input type="password" name="password"/>{{.PasswordError}}<br/>
<input type="hidden" name="act" value="login"/><br/>
<input type="submit" name="login" value="Login"/>
<input type="submit" name="register" value="Register"/>
<input type="submit" name="forgot_password" value="Forgot Password"/>
</form>
<div>Gourdian Knot pre-alpha release 0.1.1 <a href="http://www.gourdianknot.com">Gourdian Knot Main Page</a></div>
</body>
{{end}}

