{{define "body"}}
<body>
<h1>Register</h1>
{{template "error_list" .}}
<form action="{{.LoginWebAddressPrefix}}/gk/loginServer" method="post">
User: <input name="userName" value="{{.UserName}}"/>{{.UserNameError}}<br/>
Password: <input type="password" name="password"/>{{.PasswordError}}<br/>
Email: <input name="email" value="{{.Email}}"/>{{.EmailError}}<br/>
<input type="submit" name="register" value="Register"/>
<input type="hidden" name="act" value="register"/>
</form>
note:
<ul>
<li>user name must be between 3 and 20 characters</li>
<li>user name must can only contain 0-9, a-z, A-Z, dash '-', underscore '_', dot '.', plus '+', and space ' '</li>
<li>user name cannot start or end with space</li>
<li>user name cannot match any other user name (case insesitive)</li>
<li>password must be between 6 and 60 characters</li>
<li>password cannot start or end with space</li>
<li>password must contain at least one a-z or A-Z</li>
<li>password must contain at last one digit or special character !@#$%^&amp;*()-=_+[]{}\|;':",./&lt;&gt;?</li>
</ul>
<div>Disclaimer: This is pre-alpha software.  We would like to retain the users created here as we move into beta or production deployment, but because it is so early in the development process, we may need to wipe out the users, in which case people will need to re-register.  
</div>
<br/>
<div>Inactive Account Retention: We don't have an inactive account retention period yet but we probably will eventually.  Inactive meaning no login for a period of time.  I would expect that period of time to be over one year.
</div>
</body>
{{end}}
