{{define "body"}}
<body>
<h1>Reset Password</h1>
{{template "error_list" .}}
<form action="{{.LoginWebAddressPrefix}}/gk/loginServer" method="post">
User: {{.UserName}}<br/>
Password: <input type="password" name="password"/><br/>
<input type="hidden" name="userName" value="{{.UserName}}"/>
<input type="hidden" name="token" value="{{.Token}}"/>
<input type="hidden" name="act" value="reset_password"/>
<input type="submit" name="reset_password" value="Submit"/>
</form>
<a href="{{.LoginWebAddressPrefix}}/gk/loginServer">Back to login page</a>
</body>
{{end}}
