.gkGameLeft {
	float: left;
	width: 45%;
}

.gkGameRight {
	float: left;
	width: 45%;
}

.gkGameFooter {
	clear: both;
}

#scrollContainer {
	overflow: hidden;
	position:absolute;
	left:0px;
	top:0px;
	width: 600px;
	height: 300px;
}

#chatInput {
	width: 20em;
}

#chatDiv {
	width: 95%;
	height: 200px;
	background-color: #efefef;
	overflow: auto;
}

.chatTime {
	background-color: #ffefd5;
	width: 10%;
}

.chatUser {
	background-color: #afafff;
	width: 10%;
}

.chatMessage {
	width: 85%;
}

