.gkGameLeft {
	float: left;
	width: 45%;
}

.gkGameRight {
	float: left;
	width: 45%;
}

.gkGameFooter {
	clear: both;
}

#svgSpacer {
	position: fixed;
	cursor: default;
} 

#chatInput {
	width: 20em;
}

#chatDiv {
	width: 95%;
	height: 250px;
	background-color: #efefef;
	overflow: auto;
}

.chatTime {
	clear: both;
	width: 15%;
	float: left;
	padding-top: 0.05em;
	padding-bottom: 0.05em;
	padding-right: 0.2em;
	padding-left: 0.2em;
}

.chatUser {
	background-color: #afafff;
	width: 15%;
	float: left;
	padding-top: 0.05em;
	padding-bottom: 0.05em;
	padding-right: 0.2em;
	padding-left: 0.2em;
	overflow: hidden;
}

.chatUserFull {
	background-color: #afafff;
	width: 15%;
	float: left;
	padding-top: 0.05em;
	padding-bottom: 0.05em;
	padding-right: 0.2em;
	padding-left: 0.2em;
	word-wrap: break-word;
}

.chatUserBlank {
	width: 15%;
	float: left;
}

.chatMessage {
	width: 65%;
	float: left;
	padding-top: 0.05em;
	padding-bottom: 0.05em;
	padding-right: 0.2em;
	padding-left: 0.2em;
}

#podTitle {
	padding-left: 1em;
}
